<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Matt Johnson</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

  	<link rel="shortcut icon" href="favicon.png" type="image/png" />
  	<link rel="icon" href="favicon.png" type="image/png" />
  	
  	<link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  	<link href="/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body class="<%= style %>" id="<%= body %>">
<div id="nav">
  <ul class="clear">
    <li id="home"><a href="/sc2app">Home</a></li>
    <li id="about"><a href="/about">About</a></li>
  </ul>
</div>
<%= yield %>
</body>
</html>