<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Battlefield: Bad Company 2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/badcompany.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">
  	// SWFObject embed
  	var flashvarsVideo = {
  		paramXMLPath: "/ssp/video_param.xml",
  		initialURL: escape(document.location)
  	}
  	var flashvarsScreenshot = {
  		paramXMLPath: "/ssp/screenshot_param.xml",
  		initialURL: escape(document.location)
  	}
  	var params = { 
  		base: ".",
  		bgcolor: "#000000",
  		allowfullscreen: "false"
  	}                
  	var attributes = {}
  	swfobject.embedSWF("/ssp/video.swf", "video_content", "916", "515", "9.0.0", false, flashvarsVideo, params, attributes);  
  	swfobject.embedSWF("/ssp/screenshot.swf", "screenshot_content", "916", "515", "9.0.0", false, flashvarsScreenshot, params, attributes);  
  </script>
</head>
<body>
<div id="wrapper">
  <div id="logo">
    <h1>Battlefield: Bad Company 2</h1>
  </div><!-- // logo -->
  
  <div class="intro pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <p>I played through the single player of Battlefield: Bad Company straight through and enjoyed it a lot. I just remember enjoying the experience, the quirky humor, and the sometimes challenging missions.  The biggest difference you’ll see in Bad Company 2 is that it seems like it is much more serious in tone. If you were to load up Bad Company, for instance, you would hear cheeky music, rather than a serious beat. A smiley face was attached to a grenade at the opening scenes. Overall, the first episode was very much on the humorous side. And honestly I’m hoping that at least some of the game’s characteristic humor remains in the campaign for Bad Company 2.</p>
    </div><!-- // .bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // intro -->
  
  <div class="pod video">
    <h1>Videos</h1>
    <div id="video_content">
			This SlideShowPro photo gallery requires the Flash Player plugin and a web browser with JavaScript enabled.
		</div>
  </div>
  
  <div class="pod screenshots">
    <h1>Screenshots</h1>
    <div id="screenshot_content">
			This SlideShowPro photo gallery requires the Flash Player plugin and a web browser with JavaScript enabled.
		</div>
  </div>
  
</div><!-- // wrapper -->
</body>
</html>