<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Battlefield: Bad Company 2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/badcompany.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">
  	// SWFObject embed
  	var flashvarsVideo = {
  		paramXMLPath: "http://cssaid.net/video_param.xml",
  		initialURL: escape(document.location)
  	}
  	var flashvarsScreenshot = {
  		paramXMLPath: "http://cssaid.net/screenshot_param.xml",
  		initialURL: escape(document.location)
  	}
  	var params = { 
  		base: ".",
  		bgcolor: "#000000",
  		allowfullscreen: "false"
  	}                
  	var attributes = {}
  	swfobject.embedSWF("http://cssaid.net/video.swf", "video_content", "916", "515", "9.0.0", false, flashvarsVideo, params, attributes);  
  	swfobject.embedSWF("http://cssaid.net/screenshot.swf", "screenshot_content", "916", "515", "9.0.0", false, flashvarsScreenshot, params, attributes);  
  </script>
</head>
<body>
<div id="wrapper">
  <div id="logo">
    <h1>Battlefield: Bad Company 2</h1>
  </div><!-- // logo -->
  
  <div class="intro pod">
    <div id="bc_rank"></div>
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd">
      <h1>Bad Company</h1>
      <p>I played through the single player of Battlefield: Bad Company straight through and enjoyed it a lot. I just remember enjoying the experience, the quirky humor, and the sometimes challenging missions.  The biggest difference you’ll see in Bad Company 2 is that it seems like it is much more serious in tone. If you were to load up Bad Company, for instance, you would hear cheeky music, rather than a serious beat. A smiley face was attached to a grenade at the opening scenes. Overall, the first episode was very much on the humorous side. And honestly I’m hoping that at least some of the game’s characteristic humor remains in the campaign for Bad Company 2.</p>
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // intro -->
  
  <div id="badges">
    <div class="awards" id="pins">
      <span class="award_img"></span>
      <h1>Pins</h1>
      <span>Reward Badges</span>
      <a href="http://badcompanytwo.com/news-post/bad-company-2-multiplayer-pins-revealed/">More Info</a>
    </div><!-- // pins -->
    
    <div class="awards" id="insig">
      <span class="award_img"></span>
      <h1>Insignias</h1>
      <span>Reward Badges</span>
      <a href="http://badcompanytwo.com/news-post/bad-company-2-multiplayer-insignias/">More Info</a>
    </div><!-- // pins -->
  </div><!-- // badges -->
  
  <div class="tips pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd">
      <h1>Tips &amp; Tricks</h1>
      <p>If you’re like me, then you’ve probably been playing Modern Warfare 2 since its release. Jumping from Modern Warfare 2 to Bad Company 2 is a bit like hitting the slow motion button on your remote. One of the things you can do to help with this is to increase your sensitivity (Options > Controls - I usually go about 3/4 the way across the bar). This brings me to my first gripe about the demo – every time you load the game, you’ll have to reconfigure all of your settings, including your armaments and load-outs. Although I have a good feeling that this issue will be fixed by the time the game is released, it’s still a hitch I have to put up with as I play the game now.</p>
      <ul>
        <li>
          <h2>Tip #1</h2>
          <p>Increasing your controller’s sensitivity goes a long way towards improving your experience with the game – it allows you to aim quicker, turn around faster, and it’ll prevent you from getting backstabbed by any sneaky players who might think to run up behind you.</p>
        </li>
        <li>
          <h2>Tip #2</h2>
          <p>Another handy tip I picked up on reddit.com’s gaming community was that the tracer darts can vastly improve the usefulness of the RPG. It’s a seemingly obvious piece of information, but not one that will be readily apparent unless you’ve spent time digging through the game’s weapon descriptions. In short, if you plant a tracer dart on a vehicle, you can then take the vehicle out from afar without having to aim directly at your target, crouched safely behind a building or a concrete wall. Simply aim your weapon into the air, make sure you’re locked on, and fire. You’ll know that you’re locked on once the tracer mark indicates the range of the target.</p>
        </li>
        <li>
          <h2>Tip #3</h2>
          <p>A life saving tip: If you are parachuting or falling, hold down the <em id="xbox_a"></em> button to release your parachute again. If you’re playing on the offense, you’ll occasionally spawn in free fall without a released parachute, so this little precaution will prevent you from losing 10 points at the start of the game. It’s also helpful if you find the need to jump off a cliff or a tall building, as your parachute will help to soften the landing.</p>
        </li>
      </ul>
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // tips -->
  
  <div class="pod video">
    <h1>Videos</h1>
    <div id="video_content">
			This SlideShowPro photo gallery requires the Flash Player plugin and a web browser with JavaScript enabled.
		</div>
  </div>
  
  <div class="good pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd">
      <h1>The Good</h1>
      <p>For the most part, I’ve grown pretty fond of the game’s overall art direction – everything from the box art, web design and marketing materials to the in-game graphics. It’s an undeniably cohesive product.</p>

      <p>Having blood on your screen is nothing new to video games, but Bad Company 2 takes it a small step further by using blood splatter as a visual indicator of your health. Because the game lacks a numeric indicator of your health, the shade of your screen and the blood obscuring the corners of your view will be all you have as a guide.</p>

      <p>The menus and layouts are fairly straightforward and intuitive, though getting into a “Quick Match” could be a lot quicker, especially in comparison to Modern Warfare 2. The loading screens are replete with gameplay tips and tabs allow you to check out the progress of your achievements, the scores of your teammates and the description of the map in-between rounds.</p>

      <p>The sound production is pretty well done, with C4 and grenade detonations ringing in your ears and the sound of bullets whizzing by. Near-miss sniper fire sounds like little firecrackers going off, reminding you of how close your life came to being ended. Additionally, Bad Company 2 features voice acting and scripting with marines and Russian forces alike bellow orders, requests and vulgar taunts in their respective languages.</p>

      <p>The one thing that stands out the most about Bad Company 2 is its variety of weapons and vehicles. Going from shooting a Stationary AT (one of my favorite anti-tank weapons), to driving a four wheeler across the terrain while rushing towards an opponent really opens up the playing field for tactical gameplay.  One of my favorite vehicles in the game is the M3A3 Bradley – armed with a rapid firing 30mm cannon, and further upgradeable with a Stationary AT as a weapon unlock. Brutally good for defense, it’s almost unstoppable when you are on XBL with a friend in party chat and you’re both playing the engineer class. Needless to say, Bad Company 2 truly comes into its own as a cooperative game.</p>
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // good -->
  
  <div class="pod screenshots">
    <h1>Screenshots</h1>
    <div id="screenshot_content">
			This SlideShowPro photo gallery requires the Flash Player plugin and a web browser with JavaScript enabled.
		</div>
  </div>
  
  <div class="bad pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd">
      <h1>The Bad</h1>
      <p>Where would a review be without mentioning the negatives? Although I’m not really one to focus on the negative aspects of any game, a few things worth mentioning about Bad Company 2 is the player’s inability to lay prone. Like its predecessor, the game omits an almost necessary tactical option for the sake of faster paced combat. You’ll encounter a lot of situations in the game in when you wished it were possible to simply lay flat on the ground as explosions filled the air and bullets flew all around you.</p>

      <p>Knifing can best be described as awkward. Unlike Modern Warfare 2, to which knifing can be compared, Bad Company 2 features a delay from the time you hit the RB button to when your knife finally makes contact with the enemy.  Personally, it was difficult for me to get used to the delay right off the bat, having directly come from playing MW2 for weeks straight. I might get used to it after a few dozen more kills, but the delay remains a frustrating one to put up with.</p>

      <p>Teams tend to get unbalanced quite easily. It can be pretty bad when the team you just joined is getting plowed over by opponents with double the players. Not only do you have little chance at winning, but it’s also a waste of time. The issue could be very easily remedied with the implementation of a tighter auto-balancing feature.</p>
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // bad -->
  
  <div class="bad pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd">
      <p>In short, I believe this new episode to the Battlefield series will be an awesome one. I will be coming back to this page in about a week after the game release (Tuesday, March 2nd) to update with new opinions based on the retail version. I've pre-ordered the PC version (renting the xbox version from GameFly.com) and will get a good deal of playing time and make updates as I see fit. Please let me know what you think via <a href="http://twitter.com/mattdetails">Twitter</a>. Hope to see you on the Battlefield!</p>
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // bad -->
  
  <div class="bio pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd clear">
      <h1>About the Author</h1>
      
      <p>Hi, I’m Matt. I am a 24 year old User Interface Designer originally from Northern Wisconsin. I’ve been designing for the web since 2001. I'm very passionate about the internet, technology and all things design. Currently working for GiantRealm.com. I also co-founded <a href="http://www.thebattlebegins.com">The Battle Begins</a>. Previously I co-founded <a href="http://www.starfeeder.com">Starfeeder</a> &amp; worked as a UI Designer for <a href="http://www.wegame.com">WeGame.com</a>. When I'm not working, I'm most likely gaming. Hit me up on Steam or XBL - Lets play!</p>
        <img src="/images/bc2/bio_pic.png" />
         <div id="bio_web">
            <h2>Connect with me on the Web</h2>
            <p><a target="_blank" href="http://twitter.com/mattdetails">Twitter <em>&ndash; Let me know what you think of this review.</em></a></p>
            <p><a target="_blank" href="http://flickr.com/mattdetails">Flickr <em>&ndash; Check out my shots from games/life.</em></a></p>
            <p><a target="_blank" href="http://steamcommunity.com/id/mattdetails">Steam <em>&ndash; Let's get our game on! Add me.</em></a></p>
            <p><a target="_blank" href="http://profile.mygamercard.net/mattdetails">Xbox Live <em>&ndash; Let's get our game on! Add me.</em></a></p>
          </div>
      
      
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // bad -->
  
  <div id="thanks">
    <a target="_blank" href="http://www.badcompanytwo.com">badcompanytwo.com</a>
  </div><!-- // thanks -->
  
  <div class="thx2 pod">
    <div class="hd"><div class="tl"></div><div class="tr"></div></div>
    <div class="bd">
      <div class="inner_bd">
      <h1>Also thanks to</h1>
      <p><a target="_blank" href="http://www.360prophecy.com/site/xna-button-pack-1/">Jeff Jenkins - 360Prophecy.com</a> - For the controller icons.</p>
      <p><a target="_blank" href="http://twitter.com/stillgray">Ian Cheong</a> - For proof reading and editing the written content. Thanks man!</a></p>
      </div><!-- // inner_bd -->
    </div><!-- // bd -->
    <div class="ft"><div class="bl"></div><div class="br"></div></div>
  </div><!-- // bad -->
  
</div><!-- // wrapper -->
<div id="footer">
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2569977-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>