<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  	<title>Buttons</title>
  	<style>
  	body {
  	  margin: 50px;
  	  background: #292929;
  	}
  	
  	a {
  	  background: #444;
      background: -webkit-gradient(linear, left top, left bottom, from(#828282), to(#444));
      background: -moz-linear-gradient(top,  #828282,  #444) no-repeat;
      border: 1px #111 solid;
      color: #c7c7c7;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      padding: 9px 15px 8px 15px;
      position: relative;
      text-decoration: none;
      text-shadow: 0 -1px 0 #303030;
      -moz-box-shadow: inset 0 1px 0 #a1a1a1;
      -webkit-box-shadow: inset 0 1px 0 #a1a1a1, inset 0 -1px 0 #525252, 1px 2px 2px #222;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
  	}
  	
  	a:hover {
      text-shadow: 0 -1px 0 #303030;
      color: #FFF;
      background: #464646;
      background: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#464646));
      background: -moz-linear-gradient(top,  #8f8f8f,  #464646) no-repeat;
    }
    
    a:active {
      background: #444;
      background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#808080));
      background: -moz-linear-gradient(top,  #333,  #808080) no-repeat;
      -moz-box-shadow: inset 0 0px 0 #a1a1a1;
      -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0, 0.4), 0 1px 0 #474747;
      border: 1px #111 solid;
      color: #c7c7c7;
    }
  	</style>
</head>
<body>
<a href="">Button</a>
<a href="">Button</a>
<a href="">Button</a>
<a href="">Button</a>
</body>
</html>