<div class="container">
	<h1><a target="_blank" href="http://twitter.com/mattdetails">Matt Johnson - User Experience Designer</a></h1>
	<h2>Matt Johnson</h2>
	<h3>User Experience Designer</h3>
</div><!-- // container -->