<div class="clear">
<h1>Matt Johnson</h1>
<h2>User Interface Designer</h2>
<p>A Sandbox for playing with new web tech.</p>
<ul>
  <li><a href="http://www.krop.com/mattjohnson/">Portfolio</a></li>
  <li><a href="http://www.krop.com/mattjohnson/resume/">Resume</a></li>
</ul>
</div>

<div id="ipad">
  <a href="/ipad">iPad Wallpapers</a>
</div>


<!-- Social Icons by Rogie King | http://www.komodomedia.com/download/ -->
<div id="social_icons">
<a href="http://flickr.com/mattdetails"><img src="images/flickr_32.png" /></a>
<a href="http://dribbble.com/players/mattdetails"><img src="images/dribbble_32.png" /></a>
</div>