<div class="clear">
<h1>Matt Johnson</h1>
<h2>User Interface Design</h2>
<p>A Sandbox for playing with new web tech.</p>
<ul>
  <li><a href="http://www.krop.com/mattjohnson/">Portfolio</a></li>
  <li><a href="http://www.krop.com/mattjohnson/resume/">Resume</a></li>
</ul>
</div>

<div id="ipad">
  <a href="/ipad">iPad Wallpapers</a>
</div>

<a href="http://flickr.com/mattdetails">Flickr.com/mattdetails.com</a>
<a href="http://dribbble.com/players/mattdetails">Dribbble.com/players/mattdetails</a>