<div id="wrapper" class="clear">
<h1><a href="http://saveourgulf.org/">Save Our Gulf</a></h1>
<h2>Matt Johnson UI Designer</h2>


<ul id="social_icons" class="clear">
  <li id="dribbble"><a title="Dribbble.com" href="http://dribbble.com/players/mattdetails">Dribbble</a></li>
  <li id="flickr"><a title="Flickr.com" href="http://flickr.com/mattdetails">Flickr</a></li>
  <li id="xbox"><a title="Xbox" href="http://live.xbox.com/member/mattdetails">Xbox</a></li>
  <li id="virb"><a title="Virb.com" href="http://virb.com/mattdetails">Virb</a></li>
  <li id="tumblr"><a title="Tumblr.com" href="http://mattdetails.tumblr.com">Tumblr</a></li>
  <li id="twitter"><a title="Twitter.com" href="http://twitter.com/mattdetails">Twitter</a></li>
  <li id="delicious"><a title="Delicious.com" href="http://delicious.com/mattdetails">Delicious</a></li>
</ul>