body {
  margin: 30px 0 30px 0;
  font-family: Helvetica, Arial, sans-serif;
}

body#home #nav ul li#home a, body#about #nav ul li#about a {
  background: #ac0000;
  color: #FFF;
}

#nav {
  background: #CCC;
  padding: 10px;
}

#nav ul li a {
  background: #000;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  display: block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#nav ul li a:hover {
  color: #FFF;
  background: #ac0000;
}

#nav ul li {
  float: left;
  display: block;
  margin: 0 10px 0 10px;
}