body {
  background: transparent url(http://cssaid.net/bc2/bc2_bg2.jpg) center top no-repeat fixed;
  font-family: Helvetica, Arial, sans-serif;
  padding: 25px 0 25px 0;
}

a, a:visited {
  color: #FFF;
  text-decoration: underline;
}

a:hover {
  color: #999;
  text-decoration: none;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}

#logo {
  margin: 25px 0 0 0;
}

#logo h1 {
  width: 599px;
  height: 174px;
  background: transparent url(../images/bc2/bc2_logo.png) 0 0 no-repeat;
  text-indent: -9999px;
  margin: 25px auto;
}

.pod {
}

.pod .hd {
  width: 1000px;
  height: 100px;
  background: transparent url(../images/bc2/pod_top.png) center bottom no-repeat;
}

.pod .ft {
  width: 1000px;
  height: 100px;
  background: transparent url(../images/bc2/pod_bottom.png) center top no-repeat;
}


.pod .bd {
  width: 1000px;
  background: transparent url(../images/bc2/pod_bd.png) center center repeat-y;
}

.pod .bd p {
  color: #FFF;
  font-size: 20px;
  line-height: 40px;
  padding: 10px 0 10px 0;
}

.pod .bd .inner_bd {
  width: 800px;
  margin: 0 auto;
}

.intro #disclaimer {
  width: 617px;
  height: 18px;
  background: transparent url(../images/bc2/bc_disclaim.png) 0 0 no-repeat;
  text-indent: -99999px;
  position: relative;
  float: left;
  top: 65px;
  left: 100px;
}

.intro h1 {
  width: 186px;
  height: 35px;
  background: transparent url(../images/bc2/bc_hdr.png) 0 0 no-repeat;
  text-indent: -9999px;
}

.intro #bc_rank {
  width: 172px;
  height: 164px;
  background: transparent url(../images/bc2/bc_emblem.png) 0 0 no-repeat;
  float: right;
  position: relative;
  right: 10px;
}


#badges #pins {
  background: #000 url(../images/bc2/left_arrow.png) 10px center no-repeat;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  float: left;
  height: 74px;
  padding: 0 15px 0 145px;
  position: relative;
  left: 100px;
}

#badges #pins span.award_img {
  width: 130px;
  height: 120px;
  background: transparent url(../images/bc2/pins.png) 0 0 no-repeat;
  display: block;
  float: left;
  position: absolute;
  left: -75px;
  top: -30px;
}

#badges #insig {
  background: #000 url(../images/bc2/right_arrow.png) 215px center no-repeat;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  float: right;
  height: 74px;
  padding: 0 145px 0 15px;
  position: relative;
  right: 100px;
}

#badges #insig span.award_img {
  width: 187px;
  height: 151px;
  background: transparent url(../images/bc2/insignias.png) 0 0 no-repeat;
  display: block;
  float: right;
  position: absolute;
  right: -135px;
  top: -40px;
}

#badges .awards {
  top: -55px;
}

#badges .awards h1 {
  color: #FFF;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 10px 0 5px 0;
}

#badges .awards span {
  color: #FFF;
  font-size: 14px;
}

#badges .awards a {
  width: 88px;
  height: 22px;
  background: transparent url(../images/bc2/btn_moreinfo.png) 0 0 no-repeat;
  text-indent: -99999px;
  display: block;
  float: right;
  margin: -5px 0 0 15px;
}

#badges .awards a:hover {
  background-position: bottom;
}

.tips h1 {
  width: 222px;
  height: 35px;
  background: transparent url(../images/bc2/tips_hdr.png) 0 0 no-repeat;
  text-indent: -99999px;
}

.tips ul {
  padding: 20px 0 0 0;
}

.tips ul li {
  color: #FFF;
  padding: 10px 0 10px 0;
}

.tips ul li h2 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding: 13px 0 0 60px;
  background: transparent url(../images/bc2/tips_icon.png) 0 0 no-repeat;
}

.tips ul li em#xbox_a {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: transparent url(../images/bc2/xboxa_icon.png) 0 0 no-repeat;
  position: relative;
  top: 7px;
}

.video, .screenshots  {
  width: 1143px;
  margin: 0 0 0 -50px;
  background: transparent url(../images/bc2/media_bg.png) 0 0 no-repeat;
}

.video h1 {
  width: 129px;
  height: 42px;
  background: transparent url(../images/bc2/videos_hdr.png) 0 0 no-repeat;
  text-indent: -9999px;
}

.screenshots h1 {
  width: 242px;
  height: 42px;
  background: transparent url(../images/bc2/screenshots_hdr.png) 0 0 no-repeat;
  text-indent: -9999px;
}

.video h1, .screenshots h1 { 
  margin: 0 0 0 120px;
}

.video #video_content, .screenshots #screenshot_content {
  padding: 20px;
  margin: 55px 0 120px 100px;
}

.good h1 {
  width: 174px;
  height: 38px;
  background: transparent url(../images/bc2/good_hdr.png) 0 0 no-repeat;
  text-indent: -99999px;
}

.bad h1 {
  width: 149px;
  height: 38px;
  background: transparent url(../images/bc2/bad_hdr.png) 0 0 no-repeat;
  text-indent: -99999px;
}

.bio h1 {
  width: 343px;
  height: 38px;
  background: transparent url(../images/bc2/author_hdr.png) 0 0 no-repeat;
  text-indent: -99999px;
  margin: 0 0 20px 0;
}

.bio img {
  background: #222;
  padding: 1px;
  border: 7px #1b1b1b solid;
  -moz-border-radius: 7px;
  margin: 0 20px 0 0;
}

.bio p {
  float: right;
  width: 425px;
}

.bio p#why {
  font-size: 16px;
  line-height: 28px;
  color: #999;
  padding: 0 0 10px 0;
}

.bio #bio_web {
  width: 330px;
}

.bio #bio_web h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: #FFF;
  margin: 20px 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px #222 solid;
}

.bio #bio_web p {
  padding: 0;
  float: none;
  line-height: 16px;
  width: auto;
}

.bio #bio_web p a {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: block;
  background: #111 url(../images/bc2/icon_arrow.png) 8px 8px no-repeat;
  padding: 9px 10px 5px 35px;
  -moz-border-radius: 3px;
  margin: 3px 0 3px 0;
}

.bio #bio_web p a em {
  display: none;
}

.bio #bio_web p a:hover em {
  display: inline;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  line-height: 10px;
  position: relative;
  top: -1px;
}

.bio #bio_web p a:hover {
  text-decoration: none;
  color: #000;
  padding: 9px 10px 5px 10px;
  background: #FFF url(../images/bc2/icon_arrow.png) 98% -19px no-repeat;
}

.bio #bio_web p a:active {
  background: #d2ff00 url(../images/bc2/icon_arrow.png) 98% -19px no-repeat;
}

.thx2 h1 {
  width: 296px;
  height: 35px;
  background: transparent url(../images/bc2/thxalso_hdr.png) 0 0 no-repeat;
  text-indent: -99999px;
  margin: 0 0 10px 0;
}

.thx2 .bd p {
  padding: 0;
}

#thanks {
  
}

#thanks {
  margin: 0 0 0 -55px;
  width: 1084px;
  height: 459px;
  background: transparent url(../images/bc2/bctwo_thanks.png) 0 0 no-repeat;
  display: block;
  text-indent: -99999px;
}

#thanks a {
  position: relative;
  top: 155px;
  left: 155px;
  width: 800px;
  height: 150px;
  display: block;
  text-indent: -99999px;
}

#footer {
  width: 100%;
  height: 160px;
  background: transparent url(../images/bc2/footer_bg.png) 0 0 no-repeat;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
}

