/* 
GLOBAL Stylesheet ---------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------- Feel Free to look around my CSS files.  I don't mind.  That's how I learned. --------
-------------------------- But do not steal my designs. Thanks ------------------------------
---------------------------------------------------------------------------------------------
*/

/* Globals
----------------------------------------------------------------------------- */

body {
	background: #70b222;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	margin: 150px auto;
}

a, a:visited {
  color: #FFF;
  text-decoration: underline;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #fff000;
}

/* Main Structure
----------------------------------------------------------------------------- */
h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  letter-spacing: -1px;
  color: #FFF;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #336800;
  letter-spacing: 0px;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  margin: 0 0 10px 0;
}

p {
  font-size: 18px;
  text-align: center;
  color: #bfff81;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  width: 380px;
  margin: 0 auto;
  text-align: center;
}

ul li {
  float: left;
  display: block;
  text-align: center;
  margin: 25px 10px 0 10px;
}

ul li a, ul li a:visited {
  background: #FFF url(../images/icon_out.png) 85% 16px no-repeat;
  font-size: 20px;
  font-weight: bold;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  display: block;
  padding: 16px 55px 13px 35px;
  line-height: 13px;
  color: #336800;
  text-decoration: none;
}

ul li a:hover {
  background: #336800 url(../images/icon_out.png) 85% -32px no-repeat;;
  color: #FFF;
}

ul li a:active {
  background: #fff000 url(../images/icon_out.png) 85% 16px no-repeat;
  color: #333;
}

#ipad {
  width: 400px;
  margin: 45px auto;
  position: relative;
  left: -13px;
}

#ipad a {
  background: transparent url(../images/icon_ipad.png) center left no-repeat;
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #336800;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 46px 0 35px 130px;
  text-shadow: 1px 1px 0 #95e24b;
  letter-spacing: -0.5px;
}

#ipad a:hover {
  color: #FFF;
  text-shadow: 1px 1px 0 #336800;
}

#ipad a:active {
  position: relative;
  top: 1px;
}

#social_icons {
  width: 70px;
  margin: 0 auto;
}

#footer {
	bottom: 0;
	left: 0;
	padding: 15px 0 10px 0;
	position: absolute;
	margin: 0;
	width: 100%;
}

#footer p {
  font-size: 14px;
  color: #336800;
  letter-spacing: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 22px;
  text-align: center;
}

#footer a {
  color: #bfff81;
}




/* 
---------------------------------------------------------------------------------------------
------------------------------------------- THE END -----------------------------------------
---------------------------------------------------------------------------------------------
----------------------------- Copyright 2009-FOREVER Matt Johnson ---------------------------
---------------------------------------------------------------------------------------------
*/