body {
	background: #FFF;
	font-family: Gotham, Arial, sans-serif;
}

.container {
	width: 228px;
	margin: 150px auto;
}

h1, h2, h3 {
	margin: 0 auto;
	text-indent: -99999px;
}

h1 a {
	width: 188px;
	height: 237px;
	background: url(../images/new_logo.png) 0 0 no-repeat;
	display: block;
	-webkit-transition: all 0.1s linear;
}

h1 a:hover {
	background: url(../images/logo_twitter.png) 0 0 no-repeat;
}

h2 {
	width: 192px;
	height: 22px;
	background: url(../images/h2.png) 0 0 no-repeat;
	margin-top: 20px;
}

h3 {
	width: 227px;
	height: 16px;
	background: url(../images/h3.png) 0 0 no-repeat;
	margin-top: 10px;
}